<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add details Here</h1>
    <form action="/user" method="post">
        <input type="text" placeholder="Enter ID" name="id">

        <input type="text"placeholder="Enter Username" name="username">
        <input type="text"placeholder="Enter Email" name="email">
        <input type="text"placeholder="Enter Password" name="password">
        <button>Add User</button>
    </form>
</body>
</html>